{% extends "base.html" %}

{% block content %}
<h2>Account Management</h2>

<p>Hello, {{ request.user.username }}!</p>
<p>Email: {{ request.user.email }}</p>


<p><a href="{% url 'accounts:password_change' %}">Change Password</a></p>


<form method="post" action="{% url 'accounts:email_change' %}">
  {% csrf_token %}
  <label for="email">Update Email:</label>
  <input type="email" id="email" name="email" value="{{ request.user.email }}" required>
  <input type="submit" value="Update Email">
</form>

<p><a href="{% url 'accounts:socialaccount_connections' %}">Social Account Connections</a></p>


<p><a href="{% url 'accounts:account_delete' %}">Delete Account</a></p>

{% endblock %}